
.BoardsFetch {
  text-align: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #3d3d3d;
  text-align: center;
}
